{% extends 'layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="row">
            {% include('flash-message.html.twig')  %}
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Debite Note Information Details'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" >
                            <a href="{{ path('inv_purchase_new') }}" class="btn btn-sm green-bg  white-font"><i class="fa fa-plus"></i>{{ 'New Debite Note'|trans }}</a>
                            <a href="{{ path('inv_purchase') }}" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-large"></i>{{ 'Debite Note'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="d-flex flex-column bd-highlight mb-3">
                               <div class="p-2 bd-highlight"><strong>Created By</strong> {{ entity.createdBy.name }}</div>
                                {% if entity.branch is not empty %}<div class="p-2 bd-highlight"><strong>Branch</strong>  {{ entity.branch.name }}</div>{% endif %}
                                {% if entity.department is not empty %}  <div class="p-2 bd-highlight"><strong>Department</strong>{{ entity.department.name }}</div>{% endif %}
                            </div>
                        </div>
                        <div class="col-md-4">&nbsp;</div>
                        <div class="col-md-4">
                            <div class="d-flex flex-column bd-highlight mb-3">
                                <div class="p-2 bd-highlight"><strong>GRN No.</strong> {{ entity.purchaseNo }}</div>
                                <div class="p-2 bd-highlight"><strong>Created</strong> {{ entity.created|date('d-m-Y') }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-12">
                                {{ form_start(form, {'attr': {'class': 'form-horizontal sub-form right','id':'itemForm','action':path('inv_purchase_item_add',{'id':entity.id})}}) }}
                                    <div class="row">
                                        <div class="col-md-6">
                                        {{ form_widget(itemForm.item) }}
                                        </div>
                                        <div class="col-md-2"> {{ form_widget(itemForm.quantity) }}</div>
                                        <div class="col-md-4">
                                            <div class="btn-group">
                                            {{ form_widget(itemForm.price) }}&nbsp;
                                            <button type="submit" data-action="" id="addItem" name="addItem" class="btn btn-mini btn-info form-submit"><i class="feather icon-plus"></i> ADD</button>
                                            </div>
                                        </div>
                                    </div>
                                {{ form_widget(itemForm._token) }}
                                {{ form_end(itemForm) }}
                                </div>
                            </div>
                            <table class="table table-striped table-bordered table-hover display nowrap" id="datatable">
                                <thead class="thead-gray">
                                <tr>
                                    <th scope="col">S/N</th>
                                    <th scope="col">Item Name</th>
                                    <th scope="col">Unit Price</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">SubTotal</th>
                                    <th scope="col text-center"><i class="feather icon-settings"></i></th>
                                </tr>

                                </thead>
                                <tbody id="invoiceItem">
                                {% if entity.purchaseItems is not empty %}
                                {% for item in entity.purchaseItems %}
                                <tr id="remove-{{ item.id }}">
                                    <td>{{ loop.index }}</td>
                                    <td>{{ item.name }}</td>
                                    <td>{% if item.item.unit is not empty %}{{ item.item.unit.name }}{% endif %}</td>
                                    <td>
                                        <input type="hidden" name="price-{{ item.id }}" id="price-{{ item.id }}" value="{{ item.price }}">
                                        <input type="number" style="width: 100px" data-id="{{ item.id }}" id="quantity-{{ item.id }}" name="quantity-{{ item.id }}" class="form-control form-control-sm input quantity" value="{{ item.quantity }}">
                                    </td>
                                    <td>{{ item.price }}</td>
                                    <td><span id="subTotal-{{ item.id }}">{{ item.subTotal|number_format(2) }}</span></td>
                                    <td><a href="javascript:" class="btn btn-mini btn-danger  itemRemove" data-action="{{ path('inv_purchase_item_delete',{'entity':entity.id,'id':item.id}) }}" ><i class="feather icon-trash-2"></i> </a></td>
                                </tr>
                                {% endfor %}
                                <tr><td colspan="5" class="text-right"><strong>SubTotal</strong></td><td>{{ entity.subTotal|number_format(2) }}</td></tr>
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-4">
                            <div class="portlet box green ">
                                <div class="portlet-title">
                                    <div class="caption">{{ 'Add New Debite Note'|trans }} </div>
                                </div>
                                <div class="portlet-body form">
                                    {{ form_start(form, {'attr': {'class': 'form-horizontal right'}}) }}
                                    <div class="form-inner-no-space">

                                        <div class="row">
                                            <div class="col-md-12 form-box-body">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            {{ form_label(form.vendor, 'Vendor/Supplier'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                            <div class="col-md-8">
                                                                <div class="is-required">*</div>
                                                                {{ form_widget(form.vendor) }}
                                                                {{ form_errors(form.vendor) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            {{ form_label(form.receiveDate, 'Receive Date'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                            <div class="col-md-8">
                                                                {{ form_widget(form.receiveDate) }}
                                                                {{ form_errors(form.receiveDate) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="col-md-4 control-label">Sub-Total</label>
                                                            <div class="col-md-8 control-label" id="subTotal">{{ entity.subTotal|number_format(2) }}</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            {{ form_label(form.discountCalculation, 'Discount'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                            <div class="col-md-4">
                                                                {{ form_widget(form.percentType) }}
                                                                {{ form_errors(form.percentType) }}
                                                            </div>
                                                            <div class="col-md-4">
                                                                {{ form_widget(form.discountCalculation) }}
                                                                {{ form_errors(form.discountCalculation) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="col-md-4 control-label">Total</label>
                                                            <div class="col-md-8 control-label" id="subTotal">{{ entity.total|number_format(2) }}</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            {{ form_label(form.amount, 'Payment'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                            <div class="col-md-4">&nbsp;</div>
                                                            <div class="col-md-4">
                                                                {{ form_widget(form.amount) }}
                                                                {{ form_errors(form.amount) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            {{ form_label(form.content, 'Narration'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                            <div class="col-md-8">
                                                                {{ form_widget(form.content) }}
                                                                {{ form_errors(form.content) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            {{ form_label(form.file, 'Attach File'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                            <div class="col-md-7 custom-file">
                                                                {{ form_widget(form.file) }}
                                                                {{ form_errors(form.file) }}
                                                                <label class="custom-file-label" for="purchase_issue_form_file">Choose file</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="col-md-4"></label>
                                                            <div class="col-md-6">
                                                                {{ form_widget(form.status) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="form-sm-actions">
                                            <div class="col-md-12 text-right">
                                                <div class="btn-group">
                                                    <button type="reset" class="btn btn-sm yellow-bg white-font"><i class="fa fa-refresh"></i>Restore</button>
                                                    {{ form_widget(form.save, {label: 'save',value:'save', attr: { class: 'btn btn-info form-submit'}}) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {{ form_widget(form._token) }}
                                    {{ form_end(form) }}
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/terminalbdinventory/js/script.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    jqueryTemporaryLoad();
{% endblock %}
