
<div class="portlet box blue ">
    <div class="portlet-body form">
        <div class="row form-body">
            <div class="form-inner-no-space">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-md-4 control-label"><strong>Vendor/Supplier</strong></label>
                                    <div class="col-md-8 control-label">
                                        {% if entity.vendor is not empty %}{{ entity.vendor.name }}<br/>{{ entity.vendor.address|raw }}{% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="d-flex flex-column bd-highlight mb-3">
                            <div class="p-2 bd-highlight"><strong>GRN No.</strong> {{ entity.purchaseNo }}</div>
                            <div class="p-2 bd-highlight"><strong>Created</strong> {{ entity.created|date('d-m-Y') }}</div>
                            <div class="p-2 bd-highlight"><strong>Created By</strong> {{ entity.createdBy.name }}</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-striped table-bordered" id="datatable">
                            <thead>
                            <tr>
                                <th scope="col">S/N</th>
                                <th scope="col">Item Name</th>
                                <th scope="col">Unit</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Price</th>
                                <th scope="col">SubTotal</th>
                            </tr>
                            </thead>
                            <tbody id="invoiceItem">
                            {% if entity.purchaseItems is not empty %}
                                {% for item in entity.purchaseItems %}
                                    <tr id="remove-{{ item.id }}">
                                        <td>{{ loop.index }}</td>
                                        <td>{{ item.name }}</td>
                                        <td>{% if item.item.unit is not empty %}{{ item.item.unit.name }}{% endif %}</td>
                                        <td>{{ item.quantity }}</td>
                                        <td>{{ item.price }}</td>
                                        <td><span id="subTotal-{{ item.id }}">{{ item.subTotal|number_format(2) }}</span></td>
                                   </tr>
                                {% endfor %}
                                <tr><td colspan="5" class="text-right"><strong>SubTotal</strong></td><td>{{ entity.subTotal|number_format(2) }}</td></tr>
                                <tr><td colspan="5" class="text-right"><strong>Discount</strong></td>
                                    <td>{{ entity.discount|number_format(2) }}
                                        <span class="percent">{% if entity.percentType == "Percent" %} {{ entity.discountCalculation }}%{% endif %}</span>
                                    </td>
                                </tr>
                                <tr><td colspan="5" class="text-right"><strong>Total</strong></td><td>{{ entity.total|number_format(2) }}</td></tr>
                                <tr><td colspan="5" class="text-right"><strong>Payment</strong></td><td>{{ entity.amount|number_format(2) }}</td></tr>
                                <tr><td colspan="5" class="text-right"><strong>Due</strong></td><td>{{ (entity.subTotal-entity.amount)|number_format(2) }}</td></tr>
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
                {% if entity.process != "Approved" and entity.purchaseItems is not empty %}
                    <div class="row" id="success">
                        <div class="col-md-12 text-right">
                            <div class="btn-group btn-group-sm">
                                <a href="{{ path('inv_purchase_process',{'id':entity.id,'process':'Rejected'}) }}" class="btn btn-sm red-bg  white-font"><i class="feather icon-x-square"></i>Reject</a>
                                <a href="{{ path('inv_purchase_process',{'id':entity.id,'process':'Approved'}) }}" class="btn btn-sm purple-bg white-font"><i class="feather icon-check-square"></i>Approve</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
                <br/>
            </div>
        </div>
    </div>
</div>
