{% if app.user.hasRoles(['ROLE_INVENTORY_MANAGER','ROLE_INVENTORY_ADMIN','ROLE_DOMAIN']) and app.user.checkBundle(['inventory']) and  app.user.terminal.businessGroup.slug == "garment" %}
<ul class="sub-menu pcoded-submenu">
    <li class="pcoded-hasmenu"><a href="javascript:">Manage Stock</a>
        <ul class="sub-menu pcoded-submenu">
            <li><a href="{{ path('inv_stock_wearhouse') }}">Stock Wearhouse</a></li>
            <li><a href="{{ path('inv_stock_book') }}">{{ 'CMP Update'|trans }}</a></li>
            <li><a href="{{ path('inv_stock') }}">Stock Item</a></li>
            <li><a href="{{ path('inv_stock_new') }}">{{ 'Add New Item'|trans }}</a></li>
            {#<li><a  href="{{ path('inv_opening_stock') }}">Stock Adjustment </a></li>#}
        </ul>
    </li>
   {# {% if (is_granted("ROLE_DOMAIN") or is_granted("ROLE_INVENTORY_ADMIN") or is_granted("ROLE_INVENTORY_MANAGER"))  %}
         <li><a  href="{{ path('inv_purchase') }}">Purchase</a></li>
        <li><a  href="{{ path('inv_purchase_issue') }}">Purchase Issue</a></li>
    {% endif %}#}
    {% if app.user.hasRoles(['ROLE_INVENTORY_MANAGER','ROLE_INVENTORY_ADMIN','ROLE_DOMAIN']) and app.user.checkBundle(['generic']) %}
        <li class="pcoded-hasmenu">
            <a class="" href="javascript:"><span>{{ "Generic Master"|trans }}</span></a>
            <ul class="sub-menu pcoded-submenu">
                {% if app.user.hasRoles(['ROLE_BUDGET_ADMIN','ROLE_DOMAIN']) and app.user.checkBundle(['generic']) %}
                <li><a href="{{ path('gmb_category_new') }}">Add New Category</a></li>
                <li><a href="{{ path('gmb_category') }}">Category List</a></li>
                {% endif %}
                <li><a  href="{{ path('gmb_brand') }}">Brand</a></li>
                <li><a  href="{{ path('gmb_size') }}">Size</a></li>
                <li><a  href="{{ path('gmb_color') }}">Color</a></li>
                <li><a  href="{{ path('gmb_unit') }}">Item Unit</a></li>
                {% if (is_granted("ROLE_DOMAIN") or is_granted("ROLE_INVENTORY_ADMIN"))  %}
                    <li><a  href="{{ path('gmb_particular') }}">Particular</a></li>
                {% endif %}
            </ul>
        </li>
        <li><a href="{{ path('garments_vendor') }}">{{ 'Vendor/Supplier'|trans }}</a></li>
    {% endif %}
</ul>
{% endif %}