{% extends 'layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="row">
            {% include('flash-message.html.twig')  %}
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Manage Purchase'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm" >
                            <a href="{{ path('inv_opening_stock_new') }}" class="btn btn-sm green-bg  white-font"><i class="fa fa-plus"></i>{{ 'New Purchase'|trans }}</a>
                            <a href="{{ path('inv_opening_stock') }}" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-large"></i>{{ 'Purchase'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-striped table-bordered table-hover display nowrap" id="datatable">
                                <thead>
                                {{ form_start(searchForm) }}
                                <tr role="row">
                                    <td colspan="2">{{ form_widget(searchForm.purchaseNo) }}</td>
                                    <td colspan="3" >{{ form_widget(searchForm.vendor) }}</td>
                                    <td><div class="date-group">{{ form_widget(searchForm.startDate) }}</div></td>
                                    <td><div class="date-group">{{ form_widget(searchForm.endDate) }}</div></td>
                                    <td>{{ form_widget(searchForm.filter) }}</td>
                                </tr>
                                {{ form_widget(searchForm._token) }}
                                {{ form_end(searchForm) }}
                                {%  set sort = app.request.query.get('sort') %}
                                {%  set direction = app.request.query.get('direction') %}
                                <tr>
                                    <th{% if pagination.isSorted('e.created') %} class="sorted"{% endif %}>
                                        {{ knp_pagination_sortable(pagination, 'Created', 'e.created') }}
                                        <span>{% if( direction == 'desc' and sort == 'e.created') %}<i class="fa fa-sort-alpha-desc"></i> {% else %}<i class="fa fa-sort-alpha-asc"></i> {% endif %}</span>
                                    </th>
                                    <th{% if pagination.isSorted('e.purchaseNo') %} class="sorted"{% endif %} >
                                        {{ knp_pagination_sortable(pagination, 'GRN', 'e.purchaseNo') }} <span>{% if( direction == 'desc' and sort == 'e.purchaseNo') %}<i class="fa fa-sort-alpha-desc"></i> {% else %}<i class="fa fa-sort-alpha-asc"></i> {% endif %}</span>
                                    </th>
                                    <th{% if pagination.isSorted('e.vendor') %} class="sorted"{% endif %}>
                                        {{ knp_pagination_sortable(pagination, 'Vendor/Supplier', 'e.vendor') }}<span>{% if( direction == 'desc' and sort == 'e.mobile') %}<i class="fa fa-sort-numeric-desc"></i> {% else %}<i class="fa fa-sort-numeric-asc"></i> {% endif %}</span>
                                    </th>
                                    <th scope="col">SubTotal</th>
                                    <th scope="col">Discount</th>
                                    <th scope="col">Total</th>
                                    <th scope="col">Attachment</th>
                                    <th{% if pagination.isSorted('e.process') %} class="sorted"{% endif %}>
                                        {{ knp_pagination_sortable(pagination, 'Status', 'e.process') }}
                                        <span>{% if( direction == 'desc' and sort == 'e.process') %}<i class="fa fa-sort-numeric-desc"></i> {% else %}<i class="fa fa-sort-numeric-asc"></i> {% endif %}</span>
                                    </th>
                                    <th scope="col text-center"><i class="feather icon-settings"></i></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if pagination is not empty %}
                                    {% for entity in pagination %}
                                        <tr>
                                            <td scope="col">{{ entity.created|date('d-m-Y') }}</td>
                                            <td scope="col">{{ entity.purchaseNo }}</td>
                                            <td scope="col">{{ entity.vendor }}</td>
                                            <td scope="col">{{ entity.subTotal|number_format(2) }}</td>
                                            <td scope="col">{{ entity.discount|number_format(2) }}</td>
                                            <td scope="col">{{ entity.total|number_format(2) }}</td>
                                            <td scope="col">
                                                {% if entity.filename is not empty %}
                                                    <a target="_blank" href="{{ asset('uploads/' ~ entity.filename) }}">Download</a>
                                                {% endif %}
                                            </td>

                                            <td scope="col">{{ entity.process }}</td>
                                            <td scope="col text-center">
                                                <div class="btn-group" >
                                                    <a class='btn btn-mini yellow-bg white-font' href='{{ path('inv_opening_stock_edit',{'id':entity.id}) }}' id='{{ entity.id }}' ><i class='feather icon-edit'></i> Edit</a>
                                                    <a class='btn  btn-transparent btn-mini red-font remove' data-id='{{ entity.id }}' href='javascript:' data-action='{{ path('inv_opening_stock_edit',{'id':entity.id}) }}' id='{{ entity.id }}' ><i class='feather icon-trash-2'></i></a>
                                                    <a class="btn btn-mini blue-bg white-font entity-show" data-action="{{ path('inv_opening_stock_show',{'id':entity.id}) }}" href="javascript:" data-title="Purchase: {{ entity.purchaseNo }}" id="postView-{{ entity.id }}"><i class="feather icon-eye"></i> Show</a>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="count">
                                Total Records: {{ pagination.getTotalItemCount }}
                            </div>
                        </div>
                        <div class="col-md-9 navigation">
                            {{ knp_pagination_render(pagination) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/terminalbdinventory/js/script.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
{% endblock %}
