{% if entity.purchaseItems is not empty %}
    {% for item in entity.purchaseItems %}
        <tr id="remove-{{ item.id }}">
            <td>{{ loop.index }}</td>
            <td>{{ item.name }}</td>
            <td>{% if item.item.unit is not empty %}{{ item.item.unit.name }}{% endif %}</td>
            <td>{% if item.brand is not empty %}{{ item.brand.name }}{% endif %}</td>
            <td>{% if item.size is not empty %}{{ item.size.name }}{% endif %}</td>
            <td>{% if item.color is not empty %}{{ item.color.name }}{% endif %}</td>
            <td>
                <input type="hidden" name="price-{{ item.id }}" id="price-{{ item.id }}" value="{{ item.price }}">
                <input type="number" style="width: 100px" data-id="{{ item.id }}" id="quantity-{{ item.id }}" name="quantity-{{ item.id }}" class="form-control form-control-sm input quantity" value="{{ item.quantity }}">
            </td>
            <td>{{ item.price }}</td>
            <td><span id="subTotal-{{ item.id }}">{{ item.subTotal|number_format(2) }}</span></td>
            <td><a href="javascript:" class="btn btn-mini btn-danger itemRemove" data-action="{{ path('inv_purchase_item_delete',{'entity':entity.id,'id':item.id}) }}" ><i class="feather icon-trash-2"></i> </a></td>
        </tr>
    {% endfor %}
    <tr><td colspan="8" class="text-right"><strong>SubTotal</strong></td><td>{{ entity.subTotal|number_format(2) }}</td></tr>
{% endif %}