<table class="">
    <tr>
        <th scope="col">S/N</th>
        <th scope="col">Category</th>
        <th scope="col">Code</th>
        <th scope="col">Name</th>
        <th scope="col">Unit</th>
        <th scope="col">Stock In</th>
        <th scope="col">Stock Out</th>
        <th scope="col">Remaining Qnt</th>
    </tr>
    {% for entity in pagination %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ entity.categoryName|striptags }}</td>
            <td>{{ entity.itemCode|striptags }}</td>
            <td>{{ entity.name|striptags }}</td>
            <td>{{ entity.unitName|default('')|striptags }}</td>
            <td>{{ entity.stockIn|default(0)|striptags }}</td>
            <td>{{ entity.stockOut|default(0)|striptags }}</td>
            <td>{{ entity.remainingQuantity|default(0)|striptags }}</td>
        </tr>
    {% endfor %}
</table>