{% extends 'layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="row">
            {% include('flash-message.html.twig')  %}
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Manage Item'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm">
                            <a href="{{ path('inv_stock_new') }}" class="btn btn-sm  green-bg white-font"><i class="fas fa-plus"></i>{{ 'Add Item'|trans }}</a>
                            <a href="{{ path('inv_stock') }}" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-list"></i>{{ 'Stock Items'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-striped table-bordered table-hover display nowrap">
                                <thead>
                                <form action="" method="get">
                                    <tr role="row">
                                        <td>{{ form_widget(searchForm.itemMode) }}</td>
                                        <td colspan="5"><div class="date-group">{{ form_widget(searchForm.keyword) }}</div></td>
                                        <td colspan="3"><div class="date-group">
                                                {{ form_widget(searchForm.filter) }}
                                                {{ form_widget(searchForm.Excel, {label: 'Excel',value:'Excel', attr: { class: 'btn btn-sm btn-info form-submit'}}) }}
                                            </div></td>
                                    </tr>
                                    {{ form_widget(searchForm._token) }}
                                </form>
                                <tr>
                                    <th scope="col">Item Mode</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Code</th>
                                    <th scope="col">Unit</th>
                                    <th scope="col">Stock In</th>
                                    <th scope="col">Stock Out</th>
                                    <th scope="col">Remaining Qnt</th>
                                    <th scope="col">Status</th>
                                    <th scope="col"><i class="feather icon-settings"></i></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for entity in pagination %}
                                    <tr>
                                        <td>{{ entity.itemMode }}</td>
                                        <td>{{ entity.name }}</td>
                                        <td>{{ entity.itemCode }}</td>
                                        <td>{{  entity.unitName }}</td>
                                        <td>{{  entity.stockIn }}</td>
                                        <td>{{  entity.stockOut }}</td>
                                        <td>{{  entity.remainingQuantity }}</td>
                                        <td>
                                            {% if  entity.status == 1 %}<a class="btn btn-mini white-font green-bg approve" href="javascript:" data-action='{{ path('inv_stock_status',{'id':entity.id}) }}' >Yes</a>{% else %}<a href="javascript:" data-action='{{ path('inv_stock_status',{'id':entity.itemId}) }}' class="btn btn-mini white-font red-bg approve">No</a>{% endif %}</td>
                                        <td>
                                            <div class="btn-group btn-group-mini">
                                                <a class='btn btn-mini yellow-bg white-font' href='{{ path('inv_stock_edit',{'id':entity.itemId}) }}' ><i class='feather icon-edit'></i> Edit</a>
                                                <a class='btn  btn-transparent btn-mini red-font remove' data-id='{{ entity.id}}' href='javascript:' data-action='{{ path('inv_stock_delete',{'id':entity.id}) }}' ><i class='feather icon-trash-2'></i></a>
                                            </div>
                                        </td>

                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="count">
                                Total Records: {{ pagination.getTotalItemCount }}
                            </div>
                        </div>
                        <div class="col-md-9 navigation">
                            {{ knp_pagination_render(pagination) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    $('.editable').editable();
{% endblock %}
