{% extends 'layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="row">
            {% include('flash-message.html.twig')  %}
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Manage New Item'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm">
                            <a href="{{ path('inv_stock_new') }}" class="btn btn-sm  green-bg white-font"><i class="fas fa-plus"></i>{{ 'Add Receive Item'|trans }}</a>
                            <a href="{{ path('inv_stock') }}" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-list"></i>{{ 'Stock Items'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    <div class="portlet box green ">
                        <div class="portlet-title">
                            <div class="caption"><i class="fa fa-th-large"></i> {{ 'Receive New Item'|trans }}</div>
                        </div>
                        <div class="portlet-body form">

                            {{ form_start(form, {'attr': {'class': 'form-horizontal right'}}) }}
                            <div class="row">
                                <div class="col-md-3"><h4>Item basic Information</h4></div>
                                <div class="col-md-9">
                                    <div class="col-md-12 form-box-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    {{ form_label(form.item, 'Item Name'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                    <div class="col-md-8">
                                                        <span class="not-blank"> Required</span>
                                                        {{ form_widget(form.item) }}
                                                        {{ form_errors(form.item) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    {{ form_label(form.purchaseQuantity, 'Purchase Quantity'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                    <div class="col-md-4">
                                                        {{ form_widget(form.purchaseQuantity) }}
                                                        {{ form_errors(form.purchaseQuantity) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    {{ form_label(form.purchasePrice, 'Purchase & Sales Price'|trans, {'label_attr': {'class': 'col-md-4'}}) }}
                                                    <div class="col-md-4">
                                                        {{ form_widget(form.purchasePrice) }}
                                                        {{ form_errors(form.purchasePrice) }}
                                                    </div>
                                                    <div class="col-md-4">
                                                        {{ form_widget(form.salesPrice) }}
                                                        {{ form_errors(form.salesPrice) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                   <div class="col-md-4"></div>
                                                    <div class="col-md-4">
                                                        {{ form_widget(form.status) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="form-actions">
                                <div class="col-md-12 text-right">
                                    <div class="btn-group" role="group">
                                        <button  type="reset" class="btn btn-sm yellow-bg white-font"><i class="fa fa-recycle"></i>{{ 'Reset'|trans }}</button>
                                        {{ form_widget(form.SaveAndCreate, {label: 'label.save.continue', attr: { class: 'btn btn-info form-submit'}}) }}
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            {{ form_widget(form._token) }}
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/terminalbdinventory/js/script.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    jqueryTemporaryLoad();
{% endblock %}
