{% extends 'layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="row">
            {% include('flash-message.html.twig')  %}
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Manage Item'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm">
                            <a href="{{ path('inv_stock_new') }}" class="btn btn-sm  green-bg white-font"><i class="fas fa-plus"></i>{{ 'Add Item'|trans }}</a>
                            <a href="{{ path('inv_stock') }}" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-list"></i>{{ 'Stock Items'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    <div class="row">
                        <div class="col-md-12 table-responsive">
                            <table class="table table-striped table-bordered table-hover display nowrap">
                                <thead>
                                <form action="" method="get">
                                    <tr role="row">
                                        <td>{{ form_widget(searchForm.itemMode) }}</td>
                                        <td>{{ form_widget(searchForm.itemCode) }}</td>
                                      {#  <td colspan="2">{{ form_widget(searchForm.name) }}</td>#}
                                        <td colspan="4"><div class="date-group">{{ form_widget(searchForm.brand) }}</div></td>
                                        {#<td><div class="date-group">{{ form_widget(searchForm.size) }}</div></td>
                                        <td><div class="date-group">{{ form_widget(searchForm.color) }}</div></td>#}
                                        <td colspan="3"><div class="date-group">{{ form_widget(searchForm.keyword) }}</div></td>
                                        <td><div class="date-group">{{ form_widget(searchForm.filter) }}</div></td>
                                    </tr>
                                    {{ form_widget(searchForm._token) }}
                                </form>
                                <tr>
                                    <th scope="col">Item Mode</th>
                                    <th scope="col">Item Name</th>
                                    <th scope="col">Item Code</th>
                                    <th scope="col">UOM</th>
                                    <th scope="col">Brand</th>
                                    <th scope="col">Size</th>
                                    <th scope="col">Color</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Stock In</th>
                                    <th scope="col">Stock Out</th>
                                    <th scope="col">Remaining Qnt</th>
                                    <th scope="col">Minimum Qty</th>
                                    <th scope="col">Reorder Qty</th>
                                    <th scope="col">Updated</th>
                                    <th scope="col">CMP</th>
                                    <th scope="col"></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for entity in pagination %}
                                    <tr>
                                        <td>{{ entity.itemMode }}</td>
                                        <td>{{ entity.name }}</td>
                                        <td>{{ entity.itemCode }}</td>
                                        <td>{{  entity.unitName }}</td>
                                        <td>{{ entity.brandName }}</td>
                                        <td>{{ entity.sizeName }}</td>
                                        <td>{{ entity.colorName }}</td>
                                        <td id="price-{{ entity.id }}">{{  entity.price }}</td>
                                        <td>{{  entity.stockIn }}</td>
                                        <td>{{  entity.stockOut }}</td>
                                        <td>{{  entity.stockIn-entity.stockOut }}</td>
                                        <td>
                                            <a data-type='text' class='editable'  data-name='minimumQuantity' href='javascript:'   data-url='{{ path('inv_stock_book_inline_update',{'id':entity.id})}}' data-pk='{{ entity.id }}' data-value='{{  entity.minimumQuantity }}'>{{  entity.minimumQuantity }}</a>
                                        </td>
                                        <td>
                                            <a data-type='text' class='editable' data-name='reorderQuantity' href='javascript:'   data-url='{{ path('inv_stock_book_inline_update',{'id':entity.id})}}' data-pk='{{ entity.id }}' data-value='{{  entity.reorderQuantity }}'>{{  entity.reorderQuantity }}</a>
                                        </td>
                                        <td>{% if entity.updated %}{{  entity.updated|date('d-m-Y') }}{% endif %}
                                            <input type="hidden"  id="cmpDate-{{ entity.id }}" name="cmpdate-{{ entity.id }}" class="cmpDatePicker" style="width:80px" value="{% if entity.updated %}{{  entity.updated|date('d-m-Y') }}{% endif %}"></td>
                                        <td><input type="text" name="cmp" data-id="{{ entity.id }}" class="priceUpdate cmp" data-action="{{ path('inv_stock_book_cmp',{'id':entity.id}) }}" id="cmp-{{  entity.id }}" value="{{  entity.cmp }}"></td>
                                        <td><div class="btn-group btn-group-mini">
                                            <a href="{{ path('inv_stock_book_cmp_history',{'id':entity.id}) }}" target="_blank">History</a>
                                            <a class='btn  btn-transparent btn-mini red-font remove' data-id='{{ entity.id}}' href='javascript:' data-action='{{ path('inv_stock_book_delete',{'id':entity.id}) }}' ><i class='feather icon-trash-2'></i></a>
                                            </div>
                                        </td>

                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="count">
                                Total Records: {{ pagination.getTotalItemCount }}
                            </div>
                        </div>
                        <div class="col-md-9 navigation">
                            {{ knp_pagination_render(pagination) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
    <style>
        .cmp{
            width: 50px!important;
        }
    </style>

{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/terminalbdinventory/js/script.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/terminalbdinventory/js/editable.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    jqueryTemporaryLoad();
    EditableInit();
{% endblock %}
