{% extends 'layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="row">
            {% include('flash-message.html.twig')  %}
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Manage Wearhouse Item'|trans }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm">
                            <a href="{{ path('inv_stock') }}" class="btn btn-sm blue-bg white-font"><i class="fa fa-th-list"></i>{{ 'Stock Items'|trans }}</a>
                            <a href="{{ path('inv_stock_book') }}" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-list"></i>{{ 'Stock Book Items'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-striped table-bordered table-hover display nowrap">
                                <thead>
                                <form action="" method="get">
                                    <tr role="row">
                                        <td>{{ form_widget(searchForm.wearhouse) }}</td>
                                        <td>{{ form_widget(searchForm.itemCode) }}</td>
                                        <td colspan="3"><div class="date-group">{{ form_widget(searchForm.brand) }}</div></td>
                                      {#  <td><div class="date-group">{{ form_widget(searchForm.size) }}</div></td>
                                        <td><div class="date-group">{{ form_widget(searchForm.color) }}</div></td>#}
                                        <td colspan="6"><div class="date-group">{{ form_widget(searchForm.keyword) }}</div></td>
                                        <td><div class="date-group">{{ form_widget(searchForm.filter) }}</div></td>
                                    </tr>
                                    {{ form_widget(searchForm._token) }}
                                </form>
                                <tr>
                                    <th scope="col">Wearhouse</th>
                                    <th scope="col">Item Code</th>
                                    <th scope="col">Item Name</th>
                                    <th scope="col">UOM</th>
                                    <th scope="col">Brand</th>
                                    <th scope="col">Size</th>
                                    <th scope="col">Color</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Stock In</th>
                                    <th scope="col">Stock Out</th>
                                    <th scope="col">Remaining Qnt</th>
                                    <th scope="col">Minimum Qty</th>
                                    <th scope="col">Reorder Qty</th>
                                    <th scope="col">CMP</th>
                                    <th scope="col">Updated</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for entity in pagination %}
                                    <tr {% if entity.minimumQuantity >= entity.remainingQuantity %} class="minimum" {% endif %} >
                                        <td>{{ entity.storeName }}</td>
                                        <td>{{ entity.itemCode }}</td>
                                        <td>{{ entity.name }}</td>
                                        <td>{{ entity.unitName }}</td>
                                        <td>{{ entity.brandName }}</td>
                                        <td>{{ entity.sizeName }}</td>
                                        <td>{{ entity.colorName }}</td>
                                        <td>{{  entity.price }}</td>
                                        <td>{{  entity.stockIn }}</td>
                                        <td>{{  entity.stockOut }}</td>
                                        <td>{{  entity.stockIn - entity.stockOut }}</td>
                                        <td><a  data-type="text" class="editable" id="minimumQuantity-{{ entity.id }}" data-name="MinimumQuantity" href="javascript:"  data-url="{{ path('inv_stock_wearhouse_inline_update',{'id':entity.id}) }}" data-pk="{{ entity.id }}" data-value="{{ entity.minimumQuantity }}">{{ entity.minimumQuantity }}</a></td>
                                        <td><a  data-type="text" class="editable" id="reorderQuantity-{{ entity.id }}" data-name="ReorderQuantity" href="javascript:"  data-url="{{ path('inv_stock_wearhouse_inline_update',{'id':entity.id}) }}" data-pk="{{ entity.id }}" data-value="{{ entity.reorderQuantity }}">{{ entity.reorderQuantity }}</a></td>
                                        <td>{{  entity.cmp }}</td>
                                        <td>{% if entity.updated %}{{  entity.updated|date('d-m-Y') }}{% endif %}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="count">
                                Total Records: {{ pagination.getTotalItemCount }}
                            </div>
                        </div>
                        <div class="col-md-9 navigation">
                            {{ knp_pagination_render(pagination) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
    <style>
        .cmp{
            width: 40px!important;
        }
        .minimum{
            background:#b0413e!important;
        }
        .minimum:hover td{
            color: #0A0302;
        }
        .minimum td{
            color: #ffffff;
        }
    </style>

{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
    <script type="application/javascript" src="{{ asset('bundles/terminalbdinventory/js/script.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
    jqueryTemporaryLoad();
    $('.editable').editable();
{% endblock %}
