{% extends 'layout.html.twig' %}

{% block body %}
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="row">
            {% include('flash-message.html.twig')  %}
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h5>{{ 'Manage Item CMP history'|trans }}: {{ entity.stockBookName }}</h5>
                    <div class="card-header-right">
                        <div class="btn-group btn-group-sm">
                            <a href="{{ path('inv_stock_book') }}" class="btn btn-sm gray-bg white-font"><i class="fa fa-th-list"></i>{{ 'Stock Items'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-block">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-striped table-bordered table-hover display nowrap" id="datatable">
                                <thead>
                                <tr>
                                    <th scope="col">S/N</th>
                                    <th scope="col">Created</th>
                                    <th scope="col">Time</th>
                                    <th scope="col">Created By</th>
                                    <th scope="col">Prev Price</th>
                                    <th scope="col">Current Price</th>
                                    <th scope="col">W/O No</th>
                                    <th scope="col">W/O Price</th>
                               </tr>
                                </thead>
                                <tbody>
                                {% for history in entity.cmpPrices %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td>{{ history.created|date('d-m-Y') }}</td>
                                    <td>{{ history.created|date('h:i A') }}</td>
                                    <td>{% if history.createdBy is not empty %}{{ history.createdBy.name }}{% endif %}</td>
                                    <td>{{ history.prevCmp }}</td>
                                    <td>{% if history.woPrice is empty %}{{ history.cmp }}{% endif %}</td>
                                    <td>{{ history.workorder ? history.workorder.invoice:'' }}</td>
                                    <td>{{ history.woPrice }}</td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
{% endblock %}
{% block cssBlock %}
    <link rel="stylesheet" href="{{ asset('assets/module/css/app.css') }}">
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript" src="{{ asset('assets/module/js/app.js') }}"></script>
{% endblock  %}
{% block documentready %}
    {{ parent() }}
{% endblock %}
